<template>
  <v-container>
    <CrudTable
      ref="crudTable"
      title="Movies"
      itemTitle="Movie"
      :itemConfig="movieConfig"
      :items="movies"
      @create="create"
      @remove="remove"
      @edit="edit"
    />
  </v-container>
</template>

<script>
import CrudTable from "@/components/utils/CrudTableComponent.vue";

export default {
  name: "Movies",

  components: {
    CrudTable
  },

  mounted() {
    this.$api()
      .get(`movies`)
      .then(response => {
        this.movies = response.data;
      });
  },

  data() {
    return {
      movies: [],
      movieConfig: {
        columns: [
          {
            text: "Nombre",
            align: "start",
            sortable: false,
            value: "name"
          },
          {
            text: "Fecha de publicación",
            align: "start",
            sortable: false,
            value: "published_date",
            type: "Date"
          },
          {
            text: "Imagen",
            align: "start",
            sortable: false,
            value: "image",
            type: "Image",
            hideInHeaders: true
          },
          {
            text: "Estado",
            align: "start",
            sortable: false,
            value: "status",
            type: "Boolean"
          },
          {
            text: "Actions",
            value: "actions",
            sortable: false,
            hideInForm: true
          }
        ]
      }
    };
  },

  methods: {
    create(movie) {
      const formData = new FormData();
      Object.keys(movie).forEach(key => {
        formData.append(key, movie[key]);
      });
      this.$api()
        .post(`movies`, formData)
        .then(response => {
          this.movies.push(response.data);
          this.$refs['crudTable'].close();
        })
        .catch(error => {
          let errors = "";
          Object.keys(error.response.data.errors).forEach((key) => {
            error.response.data.errors[key].forEach((errorMessage) => {
              errors += errorMessage + ', ';
            })
          });
          this.$refs['crudTable'].setError(errors);
          this.$refs['crudTable'].showErrors();
        });
    },

    remove(index, deletedItem) {
      this.$api().delete(`movies/${deletedItem.id}`);
      this.movies.splice(index, 1);
    },

    edit(index, movie) {
      this.$api()
        .put(`movies/${movie.id}`, movie)
        .then(response => {
          Object.assign(this.movies[index], response.data);
          this.$refs['crudTable'].close();
        })
        .catch(error => {
          let errors = "";
          Object.keys(error.response.data.errors).forEach((key) => {
            error.response.data.errors[key].forEach((errorMessage) => {
              errors += errorMessage + ', ';
            })
          });
          this.$refs['crudTable'].setError(errors);
          this.$refs['crudTable'].showErrors();
        });
    }
  }
};
</script>
