<template>
  <v-container>
    <CrudTable
      title="Películas - Turnos"
      itemTitle="Película - Turno"
      :itemConfig="shiftConfig"
      :itemSelectables="selectableValues"
      :itemMultipleSelectables="selectableMultipleValues"
      :items="movieShifts"
      :actions="['DELETE']"
      @create="create"
      @remove="remove"
      @edit="edit"
    />
  </v-container>
</template>

<script>
import CrudTable from "@/components/utils/CrudTableComponent.vue";

export default {
  name: "MoviesShift",

  components: {
    CrudTable
  },

  mounted() {
    this.$api().get(`movies`).then((response) => {
      this.movies = response.data;
      this.selectableValues = this.movies.map((movie) => {
          return {
              id: movie.id,
              text: movie.name
          }
      });
    });

    this.$api().get(`shifts`).then((response) => {
      this.shifts = response.data;
      this.selectableMultipleValues = this.shifts.map((shift) => {
          return {
              id: shift.id,
              text: shift.shift
          }
      });
    });

    this.$api().get(`movie-shifts`).then((response) => {
      this.movieShifts = response.data;
    });
  },

  data() {
    return {
      movieShifts : [],
      shifts: [],
      movies: [],
      shiftConfig: {
        columns: [
          {
            text: "Película",
            align: "start",
            sortable: false,
            value: "movie.name",
            selectableValues: [],
            type: 'Select'
          },
          {
            text: "Turno",
            align: "start",
            sortable: false,
            value: "shift.shift",
            selectableMultipleValues: [],
            type: 'MultipleSelect'
          },
          {
            text: "Actions",
            value: "actions",
            sortable: false,
            hideInForm: true
          }
        ]
      },
      selectableValues: [],
      selectableMultipleValues: [],
      isMovieShift: true
    };
  },

  methods: {
    create(shift) {
      const formData = new FormData();
      formData.append("movie", shift["movie.name"]);
      formData.append("shift", JSON.stringify(shift["shift.shift"]));
      this.$api().post(`movie-shifts`, formData).then((response) => {
        response.data.forEach(element => {
          this.movieShifts.push(element);
          this.$refs['crudTable'].close();
        })
        .catch(error => {
          let errors = "";
          Object.keys(error.response.data.errors).forEach((key) => {
            error.response.data.errors[key].forEach((errorMessage) => {
              errors += errorMessage + ', ';
            })
          });
          this.$refs['crudTable'].setError(errors);
          this.$refs['crudTable'].showErrors();
        });
        
      });
    },

    remove(index, deletedItem) {
      this.$api().delete(`movie-shifts/${deletedItem.id}`);
      this.movieShifts.splice(index, 1);
    },

    edit(index, shift) {
      this.$api().put(`movie-shifts/${shift.id}`, shift).then((response) => {
        Object.assign(this.movieShifts[index], response.data);
      });
    }
  }
};
</script>
