<template>
  <v-container>
    <CrudTable
      title="Turnos"
      itemTitle="Turno"
      :itemConfig="shiftConfig"
      :items="shifts"
      @create="create"
      @remove="remove"
      @edit="edit"
    />
  </v-container>
</template>

<script>
import CrudTable from "@/components/utils/CrudTableComponent.vue";

export default {
  name: "Turnos",

  components: {
    CrudTable
  },

  mounted() {
    this.$api().get(`shifts`).then((response) => {
      this.shifts = response.data;
    });
  },

  data() {
    return {
      shifts: [
      ],
      shiftConfig: {
        columns: [
          {
            text: "Turno",
            align: "start",
            sortable: false,
            value: "shift",
            type: 'Timer'
          },
          {
            text: "Activo",
            align: "start",
            sortable: false,
            value: "status",
            type: 'Boolean'
          },
          {
            text: "Actions",
            value: "actions",
            sortable: false,
            hideInForm: true
          }
        ]
      }
    };
  },

  methods: {
    create(shift) {
      this.$api().post(`shifts`, shift).then((response) => {
        this.shifts.push(response.data);
        this.$refs['crudTable'].close();
        })
        .catch(error => {
          let errors = "";
          Object.keys(error.response.data.errors).forEach((key) => {
            error.response.data.errors[key].forEach((errorMessage) => {
              errors += errorMessage + ', ';
            })
          });
          this.$refs['crudTable'].setError(errors);
          this.$refs['crudTable'].showErrors();
        });
    },

    remove(index, deletedItem) {
      this.$api().delete(`shifts/${deletedItem.id}`);
      this.shifts.splice(index, 1);
    },

    edit(index, shift) {
      this.$api().put(`shifts/${shift.id}`, shift).then((response) => {
        Object.assign(this.shifts[index], response.data);
        this.$refs['crudTable'].close();
        })
        .catch(error => {
          let errors = "";
          Object.keys(error.response.data.errors).forEach((key) => {
            error.response.data.errors[key].forEach((errorMessage) => {
              errors += errorMessage + ', ';
            })
          });
          this.$refs['crudTable'].setError(errors);
          this.$refs['crudTable'].showErrors();
        });
    }
  }
};
</script>
