<template>
  <v-container>
    <v-data-table :headers="headers" :items="items" class="elevation-1">
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-toolbar-title>{{ title }}</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-dialog v-model="dialog" max-width="600px">
            <template v-slot:activator="{ on }">
              <v-btn color="primary" dark class="mb-2" v-on="on">Nuevo {{ itemTitle }}</v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="headline">{{ formTitle }}</span>
              </v-card-title>

              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col
                      cols="12"
                      md="12"
                      v-for="(field, index) in formFields"
                      v-bind:key="index"
                    >
                      <v-text-field
                        v-model="editedItem[field.value]"
                        :label="field.text"
                        v-if="field.type == 'Date'"
                        type="date"
                        :rules="[v => !!v || 'La fecha es requerida']"
                        required
                      ></v-text-field>
                      <v-switch
                        v-model="editedItem[field.value]"
                        :label="field.text"
                        v-else-if="field.type == 'Boolean'"
                      ></v-switch>
                      <v-time-picker
                        v-model="editedItem[field.value]"
                        format="24hr"
                        :rules="[v => !!v || 'El turno es requerido']"
                        required
                        v-else-if="field.type == 'Timer'"
                      ></v-time-picker>
                      <v-file-input
                        :label="field.text"
                        v-model="editedItem[field.value]"
                        filled
                        prepend-icon="mdi-camera"
                        accept="image/png, image/jpeg, image/bmp"
                        v-else-if="field.type == 'Image'"
                        :rules="[v => !!v || 'La imagen es requerida']"
                        required
                      ></v-file-input>
                      <v-select
                        :items="itemSelectables"
                        :label="field.text"
                        :item-value="'id'"
                        v-model="editedItem[field.value]"
                        v-else-if="field.type == 'Select'"
                      ></v-select>
                      <v-select
                        v-model="editedItem[field.value]"
                        :items="itemMultipleSelectables"
                        :menu-props="{ maxHeight: '400' }"
                        :label="field.text"
                        :item-value="'id'"
                        v-else-if="field.type == 'MultipleSelect'"
                        multiple
                        hint="Selecciona el turno"
                        persistent-hint
                      ></v-select>
                      <v-text-field
                        v-model="editedItem[field.value]"
                        :label="field.text"
                        :rules="[v => !!v || 'El campo es requerido']"
                        required
                        v-else
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="close">Cancelar</v-btn>
                <v-btn color="blue darken-1" text @click="save">Guardar</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:item.actions="{ item }">
        <v-icon small class="mr-2" @click="editItem(item)" v-if="actions.includes('EDIT')">mdi-pencil</v-icon>
        <v-icon small @click="deleteItem(item)" v-if="actions.includes('DELETE')">mdi-delete</v-icon>
      </template>
    </v-data-table>
    <v-snackbar
      v-model="errorSnackbar"
      color="error"
      :right="true"
      :timeout="6000000"
      :top="true"
      :multi-line="true"
    >
      {{ error }}
      <v-btn dark text @click="errorSnackbar = false">Close</v-btn>
    </v-snackbar>
  </v-container>
</template>

<script>
export default {
  name: "CrudTable",

  props: {
    title: {
      type: String,
      default: "Items"
    },
    itemTitle: {
      type: String,
      default: "Item"
    },
    itemConfig: {
      type: Object,
      default() {
        return {
          columns: [
            {
              text: "Column 1",
              align: "start",
              sortable: false,
              value: "column1"
            },
            {
              text: "Column 2",
              align: "start",
              sortable: false,
              value: "column2",
              hideInHeaders: true
            },
            {
              text: "Column 3",
              align: "start",
              sortable: false,
              value: "column3",
              type: Date
            },
            {
              text: "Actions",
              value: "actions",
              sortable: false
            }
          ]
        };
      }
    },
    itemSelectables: {
      type: Array,
      default() {
        return [];
      }
    },
    itemMultipleSelectables: {
      type: Array,
      default() {
        return [];
      }
    },
    items: {
      type: Array,
      default() {
        return [];
      }
    },
    actions: {
      type: Array,
      default() {
        return ['EDIT', 'DELETE'];
      }
    }
  },

  data: () => ({
    dialog: false,
    editedIndex: -1,
    editedItem: {},

    date: new Date().toISOString().substr(0, 10),
    menu: false,
    error: "",
    errorSnackbar: false,
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? `Nuevo ${this.itemTitle}`
        : `Editar ${this.itemTitle}`;
    },
    headers: function() {
      return this.itemConfig.columns.filter(column => {
        return !column.hideInHeaders;
      });
    },
    formFields: function() {
      return this.itemConfig.columns.filter(column => {
        return !column.hideInForm;
      });
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {},

  methods: {
    editItem(item) {
      this.editedIndex = this.items.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      const index = this.items.indexOf(item);
      const deletedItem = Object.assign({}, item);
      if (confirm("¿Estás seguro que deseas eliminar este item?")) {
        this.$emit("remove", index, deletedItem);
      }
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    save() {
      if (this.editedIndex > -1) {
        //Update an existing item
        this.$emit("edit", this.editedIndex, this.editedItem);
      } else {
        //Create new item
        this.$emit("create", this.editedItem);
      }
    },
    
    setError(error) {
      this.error = error;
    },

    showErrors() {
      this.errorSnackbar = true;
    }
  }
};
</script>
